*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    
    background-image: url("backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    
}

.text-area {
    border: 1px solid gray;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    color: white;
    max-width: 25vw;
    padding: 2rem;
    background-color: black;
    font-size:x-large;
    opacity: 0.5;
}
#quote{
    padding: 0.5rem;
}
#person {
    
    color: brown;
}
#button{
    margin-top: 1rem;
    padding: 0.5rem;
    width: 6rem;
    background-color: rgb(1, 17, 79);
    color: white;
    border-radius: 0.5rem;
    opacity:0.8;
}
